<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top 5 Restorani</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Top 5 Restorani</h1>
    <p>
        <a th:href="@{/restorani/create}" class="btn btn-secondary">Novi restoran</a>
    </p>
    <p>
        <a th:href="@{/jela}" class="btn btn-secondary">Pregledajte jela</a>
    </p>
    <p>
        <a th:href="@{/restorani}" class="btn btn-secondary">Nazad</a>
    </p>
    <table class="table">
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Ocena</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="restoran : ${top5Restorani}">
            <td th:text="${restoran.getNaziv()}"></td>
            <td th:text="${restoran.getAdresa()}"></td>
            <td th:text="${restoran.getTelefon()}"></td>
            <td th:text="${restoran.getOcena()}"></td>
            <td><a th:href="@{/restorani/edit/{id}(id=${restoran.getId()})}">Edit</a></td>
            <td><a th:href="@{/restorani/delete/{id}(id=${restoran.getId()})}"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
